@model Paginate<CategoryArchiveVM>

@{
    ViewData["Title"] = "Category Archive";
}

<div class="container mt-5">
    <h2 class="text-center">Archive Categories</h2>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Created date
                    </th>
                    <

                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Datas)
                {
                    <tr class="category-data">
                        <td class="py-1">
                            @item.CategoryName
                        </td>
                        <td>
                            @item.CreatedDate
                        </td>
                        
                        <td>
                            
                            <form class="d-inline" method="post" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger text-white btn-sm"><i class="mdi mdi mdi-delete"></i></button>
                            </form>
                            <form class="d-inline" method="post" asp-area="Admin" asp-controller="Archive" asp-action="RestoreFromArchive" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-secondary text-white btn-sm">Restore</button>
                            </form>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <div class="pagination-area d-flex justify-content-center mt-3">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrevious ? "" :"disabled")">
                        <a class="page-link" asp-action="CategoryArchive" asp-route-page="@(Model.CurrentPage-1)" tabindex="-1">Previous</a>
                    </li>
                    @for (int i = 1; i <= @Model.TotalPage; i++)
                    {
                        <li class="page-item @(Model.CurrentPage==i?" disabled":"")"><a class="page-link @(Model.CurrentPage==i?" paginate-active":"")" asp-action="CategoryArchive" asp-route-page="@i">@i</a></li>
                    }





                    <li class="page-item @(Model.HasNext  ? "":"disabled")">
                        <a class="page-link" asp-action="CategoryArchive" asp-route-page="@(Model.CurrentPage+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section js{
    <script src="~/js/restoreArchive.js"></script>
}


