@model Paginate<Fiorello_PB101.ViewModels.Products.ProductVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h2 class="text-center">Categories</h2>
    <div class="create-operation">
        <a asp-action="Create" class="btn btn-success text-white btn-sm"><i class="mdi mdi-plus"></i></a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                       Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Prcie
                    </th>
                    <th>
                        Category
                    </th>


                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Datas)
                {
                    <tr class="category-data">
                        <td class="py-1">
                            <img src="~/img/@item.MainImage"/>
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary text-white btn-sm"><i class="mdi mdi-information-variant"></i></a>
                            <a class="btn btn-warning text-white btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-grease-pencil"></i></a>
                            <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger text-white btn-sm"><i class="mdi mdi mdi-delete"></i></button>
                            </form>
                            
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <div class="pagination-area d-flex justify-content-center mt-3">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrevious ? "" :"disabled")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)" tabindex="-1">Previous</a>
                    </li>
                    @for (int i = 1; i <= @Model.TotalPage; i++)
                    {
                        <li class="page-item @(Model.CurrentPage==i?" disabled":"")"><a class="page-link @(Model.CurrentPage==i?" paginate-active":"")" asp-action="Index" asp-route-page="@i">@i</a></li>
                    } 
                    
                        
                    
                    
                    
                    <li class="page-item @(Model.HasNext  ? "":"disabled")">
                        <a class="page-link" asp-action="Index"asp-route-page="@(Model.CurrentPage+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



